{% extends "layout.html" %}
{% block content %}

<hgroup>
<h1>
  {%- match label -%}
    {%- when Some with (s) -%}
      {{ s }}
    {%- when None -%}
      Language {{ id.as_str() }}
  {%- endmatch -%}
</h1>
<p> Phonemes ({{ phonemes.len() }})</p>
</hgroup>


<table>
  <thead>
    <th> Name </th>
    <th> IPA </th>
    <th> Audio </th>
  </thead>
  {% for phoneme in phonemes %}
  <tr>
    <td> <a href="{{ phoneme.q }}">{{ phoneme.label }}</a> </td>
    <td> {{ phoneme.transcriptions }} </td>
    <td>
      {% match phoneme.audio %}
      {% when Some(s) %}
      <audio controls style="display: none" id="audio-{{ loop.index }}">
        <source src="{{ s }}">
      </audio>
      <button onclick="document.getElementById('audio-{{ loop.index }}').play()">
        Listen
      </button>
      {% when None %}
      {% endmatch %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
