{% extends "layout.html" %}
{% block content %}

<hgroup>
  <h1>
    {{ en_label }}
  </h1>
  <p><a href="https://www.wikidata.org/wiki/{{ id.as_str() }}">Wikidata</a></p>
  <p><a href="{{ wikipedia_url }}">Wikipedia</a></p>
</hgroup>

<hgroup>
  <h2> Current phonemes ({{ phonemes.len() }}) </h2>
  <p> If you just added the phonemes, it will take some time for the Wikidata cache to refresh and show them here :)</p>
</hgroup>

<div class="overflow-auto">
  {% if !phonemes.is_empty() %}
  <table>
    <thead>
      <th> Name </th>
      <th> Symbol </th>
      <th> Audio </th>
    </thead>
    <tbody>
      {% for phoneme in phonemes %}
      <tr>
        <td> <a href="{{ phoneme.q }}">{{ phoneme.label }}</a> </td>
        <td> {{ phoneme.transcriptions }} </td>
        <td> {% include "phonemes/audio.html" %} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{{ status|safe }}

{% endblock content %}
