{% extends "layout.html" %}

{% block content %}

<h2> Activity languages </h2>

<table>
  <thead>
    <th> Language </th>
    <th> Wikipedia link </th>
    <th> Active user </th>
    <th> </th>
  </thead>
  {% for language in languages %}
  <tr>
    <td> {{ language.en_label }} {% if language.is_finished %} ✅ {% endif %} </td>
    <td> <a href="{{ language.wikipedia_url }}"> Link </a> </td>
    <td> {{ language.working_user_username }} </td>
    <td> <a href="/languages/{{ language.qid }}">
        {% if language.is_finished %} See {% else %} Edit {% endif %}
      </a> </td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
