<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />

  <link rel="stylesheet" href="/static/3p/pico.red.min.css" />
  <script src="/static/3p/htmx.min.1.9.12.js"></script>

  <title>Wikidata Phonemes</title>
</head>

<body hx-boost="true">
  <main class="container" hx-indicator="#navbar-indicator">
    <nav>
      <ul>
        <li><a href="/"><strong>Home</strong></a></li>
      </ul>
      <ul>
        <li><img class="htmx-indicator" id="navbar-indicator" src="/static/spinner.svg"></li>
      </ul>
      <ul>
        <li><a href="/languages">Languages</a></li>
        <li><a href="/phonemes">Phonemes</a></li>
        <li><a href="/auth/profile">Profile</a></li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>
